body {
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.top-text h1 {
    text-align: center;
    color: navy;
}

.list-name {
    list-style-type: square;
    margin-left: 2%;
    font-size: 140%;
    font-weight: bold;
}

.row {
    width: 100%;
    height: 250px;
    margin-top: 10px;
}

.col2 {
    float: left;
    width: 20%;
    height: 270px;
    margin: 65px 0 0 3%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.col2:hover {
    border: 2px solid red;
}

.details {
    margin-top: 150px;
    display: none;
    background-color: #333;
    opacity: 0.8;
    width: 100%;
    height: 100px;
}

.col2:hover .details {
    display: block;
    color: yellow;
}